{% extends 'base.html' %}
{% block title %}Account{% endblock %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="shadow-custom messages alert 
            {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}
            text-center col-lg-7 mx-auto">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endfor %}
{% endif %}

<div class="card shadow-custom border-0 col-lg-7 mx-auto mb-3">
    <h2 class="font-weight-bold text-grey mt-2 text-center">Profile</h2>
    
    <form action="" method="POST">
        {% csrf_token %}

        <div class="row">
            {% if user_form %}
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{ user_form.first_name }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{ user_form.last_name }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        {{ user_form.email }}
                    </div>
                </div>
            {% endif %}

            {% if profile_form %}
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                        </div>
                        {{ profile_form.phone_number }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                        </div>
                        {{ profile_form.address }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-mail-bulk"></i></span>
                        </div>
                        {{ profile_form.postal_code }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-city"></i></span>
                        </div>
                        {{ profile_form.city }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-flag"></i></span>
                        </div>
                        {{ profile_form.country }}
                    </div>
                </div>
            {% endif %}
        </div>

        <h3 class="mb-3">Your Orders:</h3>
        <table class="table">
            {% if request.user.orders.all %}
                {% for order in request.user.orders.all %}
                    <tr>
                        <td>
                            <a href="" class="text-decoration-none">
                                Order #{{ order.id }}
                            </a>
                        </td>
                        <td>{{ order.created|date }}</td>
                        <td class="text-green">
                            ${{ order.get_total_cost|floatformat:2 }}
                        </td>
                        <td>
                            <a href="" class="text-decoration-none" target="_blank">
                                <i class="far fa-file-pdf text-danger"></i>
                                Invoice #{{ order.id }}
                            </a>
                        </td>
                        <td>{{ order.status }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">No orders yet.</td>
                </tr>
            {% endif %}
        </table>

        <hr>

        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-warning btn-block" 
                    data-toggle="tooltip" data-placement="top" 
                    title="Fill in new details and click 'Update profile'">
                    <i class="fas fa-save"></i> Update Profile
                </button>
            </div>
            <div class="col-md-6">
                <a class="btn btn-secondary btn-block" href="{% url 'password_change' %}">
                    <i class="fas fa-lock"></i> Change Password
                </a>
            </div>
        </div>

        <hr>
    </form>
</div>

{% endblock %}
