{% extends 'base.html' %}
{% block title %}Password Reset Sent{% endblock %}

{% block content %}
<div class="card shadow-custom border-0 col-lg-5 mx-auto mb-3 text-center">
  <h3 class="py-2 font-weight-bold text-grey">
    Password Reset Instructions Sent
  </h3>
  <hr class="my-0">
  <div class="py-3">
    📩 We've emailed you instructions to reset your password.  
    If you don’t see the email, please check your spam or junk folder.  
    <br><br>
    ❓ Still not receiving it? Ensure you entered the correct email or <a href="{% url 'password_reset' %}">try again</a>.  
    <br><br>
    If you need further assistance, feel free to <a href="">contact our support team</a>.
  </div>
</div>
{% endblock %}
